{{#partial "content"}}
    <section>
        <div class="col-md-4">
            <div class="panel">
             <div class="panel-heading"> <h2 class="light">AVAILABLE SQUADS</h2></div>
        <div class="panel-body">
            {{#if squads}}

                {{#each squads}}
                    <h2>{{ squadName }} </h2>
                    <p>Id: {{squadId}}</p>
                    <p>Purpose: {{cause}}</p>
                    <p>Max participants: {{ size }}</p>
                    <br>
                    <br>
                    <h3>MEMBERS:</h3>
                        <br>
                <br>
                <br>
                    {{#each squadMembers}}
                        <h5>Name: {{this.name}}</h5>
                        <h5>Power: {{power}}</h5>
                    {{/each}}
                {{/each}}
            {{else}}
                <h2>Please create a squad to continue</h2>
            {{/if}}
            <h2>ADD heroes to Squad</h2>
            {{#each heroes}}
                <p>Name: {{name}}</p>
                <p>Super power: {{ power }}</p>
                <a href="/squad/new/{{id}}"class="btn btn-warning btn-lg">ADD TO SQUAD</a><br>
                <br>

            {{/each}}


        </div>
        </div>
        </div>



    </section>
{{/partial}}
{{#partial "footer"}}
    <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
{{/partial}}
{{> layout.hbs}}