
{{#partial "content"}}
    <section>
        <div class="row">
            <div class="col-md-4">
                <div class="panel"style="height:100;color:light-blue;">
             <div class="panel-heading">
                <h2>CURRENT HEROES</h2>
            </div>
            <div class="panel-body">

                    {{#each hero}}


                            <p>Name: {{ name }} </p>
                            <p>Age: {{ age }}</p>
                            <p>Special power: {{ power }}</p>
                            <p>Weakness: {{ weakness }}</p>
                            <p>Id: {{ id }}</p>
                        <a href="/squad" class="btn btn-warning btn-lg">Add {{ name }} To Squad</a>
                        <br>
                    {{/each}}
                <br>
                <a href="/hero-form" class="btn btn-warning btn-lg">MORE HEROES</a><br>
            </div>
        </div>
        </div>
        </div>
        <br>



    </section>
{{/partial}}
{{> layout.hbs}}