
{{#partial "content"}}
    <section>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/squad-form" class="btn btn-info">CREATE SQUAD</a>
                    {{#if squads}}
                        <h3>CURRENT SQUADS</h3>

                        {{#each squads}}
                            <h1>{{ squadName }} </h1>
                            <p>Id: {{squadId}}</p>
                            <p>Purpose: {{cause}}</p>
                            <p>Max participants: {{ size }}</p>
                            <br><br>

                        {{/each}}
                    {{else}}
                        <h2>Add Squad to proceed</h2>
                    {{/if}}
                </div>
            </div>

        </div>


    </section>
{{/partial}}
{{#partial "footer"}}
    <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
{{/partial}}
{{> layout.hbs}}